/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 20px;
}
strong{
  font-weight: 1000;
  font-size: 32px;
  background-color: black;
  color: antiquewhite;
  padding: 6px;
  
}
nav{
  display: flex;
  align-items: center;
}
nav a{

  margin-left: 6px;
  color: grey;
  font-size: 20;
  font-weight: 800;
}
.user{
  color: brown;
  font-weight: 1000;
  font-size: 24px;
}
.logout{
  background-color: black;
  color: whitesmoke;
  padding: 4px;
  border-radius: 4px;
}
figure{

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
img{
  height: 550px;
}
h2{
  text-align: center;
}
form{
  padding: 20px;
  background-color: silver;
  width: 20%;
  margin: 5% auto;
}
input{
  color: brown;
  width: 99%;
  height: 30px;
  margin-bottom: 10px;
  outline: silver;
  border-radius: 4px;
  border: 1px dashed silver;
  padding-left: 4px;
}
.submit{
  background-color: black;
  color: antiquewhite;
  font-weight: 800;
  width: 100%;
  height: 40px;
}
.products{
  display: flex;

}
/* .a{
  display: flex;
  flex-wrap: wrap;
} */
.product{
  position: relative;
  margin-bottom: 50px;
}

.like , .dislike{
  color: black;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right:  20px;
  width: 10%;
}
.dislike{

  top: 50px;
  
}
.cart{
 padding: 6px 60px;
}
.edit{
  padding: 6px 50px;
}
.cart-section{
  display: flex;
  justify-content: space-between;
}

p{
  font-size: 18px;
  font-weight: 800;
  color: gray;
}
.red , .green{
  padding: 6px 56px;
  background-color: red;
  outline: none;
}
.green{
  background-color: green;
}

small{
  text-align: center;
  display: block;
  color: black;
  font-size: 14px;
  font-weight: 800;
  margin: 20px 0px;
}

.social-login{
  display: flex;
  justify-content: space-around;
  
}
.social-login-btn{
  border: 1px solid silver;
  text-decoration: none;
  padding: 4px;
}
.google{
  color: red;
  font-size: 12px;
  font-weight: 800;
}
.github{
  color: black;
  font-size: 12px;
  font-weight: 800;
}