<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <a href="/">
          <strong>SHOPPER STOP</strong>
        </a>
        <nav>
          <a href="/users/register">SIGN IN  /</a>
          <a href="/users/login">LOG IN</a>
        </nav>
    </header>
    <main>
      <h2></h2>
      <figure>
        <img src="/images/Color-Plus-4-Widget-Web--new-revised-25april22hp-pg.jpg" alt="">
        <img src="/images/web_hp_allen-solly_love-for-brands_20220412.jpg" alt="">
        <img src="/images/web_hp_louis-philippe_love-for-brands_20220412.jpg" alt="">
        <!-- <img src="/images/web_hp_pepe-jeans_love-for-brands_20220412.jpg" alt=""> -->
      </figure>
      <figure>
        <img src="/images/AND-4-Widget-Web.jpg" alt="">
        <img src="/images/Indya-4-Widget-Web.jpg" alt="">
        <img src="/images/Forever-New-4-Widget-Web.jpg" alt="">
        </figure>

      <figure>
          <img src="images/allen-solly_4_widget_WEB.jpg" alt="" srcset="">
          <img src="images/gini-_-jony_4_widget_WEB.jpg" alt="" srcset="">
          <img src="images/KIDS_4_widget_WEB.jpg" alt="" srcset="">
          <!-- <img src="images/Tiny-girls_4_widget_WEB.jpg" alt="" srcset=""> -->
      </figure>
      <figure>
        <img src="/images/web_hp_adidas_love-for-brands_20220412.jpg" alt="" srcset="">
        <img src="/images/web_hp_skechers_love-for-brands_20220412.jpg" alt="" srcset="">
        <img src="/images/web_hp_puma_love-for-brands_20220412.jpg" alt="" srcset="">
        <!-- <img src="/images/web_hp_jack-n-jone_love-for-brands_20220412.jpg" alt="" srcset=""> -->
    </figure>
    </main>
    <footer>
      <small>&copy</small>
    </footer>
  </body>
</html>
